body {
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}
.container {
    display: flex;
    flex-direction: row;
}

img {
    height: 948px;
    margin: 0;
    padding: 0;
}
.sign-up-form {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header, main, footer {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 30px;
    font-weight: 500;
    padding: 40px;
}
form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 70px);

}
.choice {
    padding: 0px 140px;
}
input {
    border-radius: 5px;
    font-size: large;
    padding-left: 10px;
    transition: 0.3s;
    border: 1px solid black
}
input:hover{
    background-color: lightgray;
}
input:focus {
    background-color: lightgrey;
    scale: 1.05;
}
input:valid {
    background-color: rgb(206, 241, 206);
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
input:invalid:focus {
    background-color: rgb(245, 221, 221);
}

#passMatchCheck {
    grid-column: 2 / 3;
}

label {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.heading {
    grid-column: 1 / -1;
    padding-top: 20px;
    font-size: 25px;
}



#submit {
    width: 100px;
    height: 50px;
    font-size: large;
    margin-left: 140px;
    margin-top: 60px;
    border-radius: 5px;
    border: 1px solid black;
}
#submit:hover {
    background-color: rgb(211, 209, 209);
}
.attribute{
    position: absolute;
    color: white;
    top: 920px;
    left: 140px;

}

.poem {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 1px solid black;
    margin: 40px 100px;
}

.poemAtt {
    
}
a {
    color: white;
}
p {
    margin: 15px;
}