body {
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}
.container {
    display: flex;
    flex-direction: row;
}

img {
    height: 948px;
    margin: 0;
    padding: 0;
}
.sign-up-form {
    height: 100vh;
    background-color: grey;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header, main, footer {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 30px;
    font-weight: 800;
    padding: 40px;
}
form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 70px);
}
.heading, .first-name, .last-name, .email, .phone, .pass, .passConfirm {
   display: grid;
   text-align: start;
   

}


.btns {
    display: flex;
    padding: 10px;
}
.attribute{
    position: absolute;
    color: white;
    top: 920px;
    left: 140px;

}
a {
    color: white;
}
p {
    margin: 15px;
}
.poem {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 1px solid black;
    margin: 20px;
    
}
.poemAtt {
    
}